################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Targilim/v16
/.vs
/DataStructure2/.vs/DataStructure2/v16
